/* Override Radix UI font variables to use Roboto */
:root, .radix-themes {
  --default-font-family: 'Hanken Grotesk', sans-serif !important;
  --heading-font-family: 'Hanken Grotesk', sans-serif !important;
}

/* Ensure all elements use Roboto */
body {
  font-family: 'Hanken Grotesk', sans-serif !important;
}
